# SPDX-License-Identifier: GPL-2.0

config AUDIO_SWITCH_STUB
	tristate "USB Type-C Analog Audio Switch Support"
	depends on I2C
	help
	  Build the driver for USB Type-C analog audio switch.
	  This driver offer mode switch for USB Type-C port.

	  To compile this driver as a builtin driver, choose Y here.
	  To compile this driver as a module, choose M here.

