CONFIG_XRING_DEBUG=y # nocheck: debug version
CONFIG_USB_CONFIGFS_F_LB_SS=y
CONFIG_USB_F_SS_LB=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_USB_TEST=y
CONFIG_XRING_TRACE_HOOK=m
CONFIG_XRING_CLK_TRACE=y # nocheck: debug version
CONFIG_XRING_DVFS_TRACE=y # nocheck: debug version
# CONFIG_MODULE_SIG_PROTECT is not set
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_ETM4X_IMPDEF_FEATURE=y
CONFIG_CORESIGHT_TRBE=y
CONFIG_CORESIGHT_LINKS_AND_SINKS=y
CONFIG_XRING_QI_DEBUG=y
CONFIG_XRING_QS_DEBUG=y
CONFIG_XRING_QIS_TEST=m # nocheck: debug version
CONFIG_UBSAN_BOOL=y # nocheck: debug version
CONFIG_UBSAN_ENUM=y # nocheck: debug version
CONFIG_UBSAN_SHIFT=y # nocheck: debug version
CONFIG_UBSAN_UNREACHABLE=y
CONFIG_LOCKDEP=y # nocheck: debug version
CONFIG_LOCKDEP_BITS=15 # nocheck: debug version
CONFIG_LOCKDEP_CHAINS_BITS=16 # nocheck: debug version
CONFIG_LOCKDEP_STACK_TRACE_BITS=19 # nocheck: debug version
CONFIG_LOCKDEP_STACK_TRACE_HASH_BITS=14 # nocheck: debug version
CONFIG_LOCKDEP_CIRCULAR_QUEUE_BITS=22 # nocheck: debug version
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_DPM_WATCHDOG=y
CONFIG_DPM_WATCHDOG_TIMEOUT=12
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_PM_DEBUG=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_PM_TEST_SUSPEND=y
CONFIG_CORESIGHT_DUMMY=m
CONFIG_XR_CORESIGHT_LINK_AND_SINK_TMC=m # nocheck: debug version
CONFIG_XRING_HEAP_NOC_DFX=y
