CONFIG_XRING_DEBUG=y
CONFIG_KASAN=y
CONFIG_KASAN_SW_TAGS=y # nocheck: kasan version
# CONFIG_KASAN_HW_TAGS is not set
CONIFG_FRAME_WARN=0
# CONFIG_XRING_CLK_HOOK is not set
# CONFIG_MODULE_SIG_PROTECT is not set
CONFIG_KASAN_INLINE=y
CONFIG_KASAN_PANIC_ON_WARN=y # nocheck: kasan version
CONFIG_PANIC_ON_WARN_DEFAULT_ENABLE=y # nocheck: kasan version
CONIFG_FRAME_WARN=0
CONFIG_XRING_SCHED_WALT_DEBUG=m
# CONFIG_RANDOMIZE_BASE is not set
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_DUMMY=m
CONFIG_CORESIGHT_LINKS_AND_SINKS=y
CONFIG_XR_CORESIGHT_LINK_AND_SINK_TMC=m
CONFIG_STACKTRACE=y # nocheck: kasan version
CONFIG_PAGE_OWNER =y # nocheck: kasan version
