# SPDX-License-Identifier: GPL-2.0-only

config XRING_ADE
	tristate "support for Xring ADE"
	default m
	help
		Choose this option if you have a XRing ADE.
		If M is selected the module will be called xring-ade.
