# SPDX-License-Identifier: GPL-2.0-only
#
# MINET feature configuration
#
config NET_MINET
	tristate "MiNet driver support"
	default m
	help
	  xiaomi network engine.

	  To compile this driver as a module, choose M here: the module
	  will be called minet.

	  if unsure, say N.

