CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kjns_truly_main_i_mipi_raw imx852_ofilm_main_ii_mipi_raw gc50f6_txd_main_iii_mipi_raw sc1320cs_truly_main_i_mipi_raw gc13a0_ofilm_main_ii_mipi_raw sc520_truly_front_i_mipi_raw gc05a2_cxt_front_ii_mipi_raw sc820cs_truly_front_i_mipi_raw ov08f_ofilm_front_ii_mipi_raw gc08a8_cxt_front_iii_mipi_raw"
CONFIG_BOARD_ID_SUPPORT=m
CONFIG_BOOT_INFO_SUPPORT=m
CONFIG_FINGERPRINT_SUPPORT=y
CONFIG_FPC_FINGERPRINT=y
CONFIG_GOODIX_FINGERPRINT=y
CONFIG_SILEAD_FP=y
CONFIG_DRM_PANEL_DSI_PANEL_P15_NULL_HD_VDO=m
CONFIG_DRM_PANEL_DSI_PANEL_P15_43_02_0A_HD_VDO=m
CONFIG_DRM_PANEL_DSI_PANEL_P15_46_03_0B_HD_VDO=m
CONFIG_DRM_PANEL_DSI_PANEL_P15_35_10_0C_HD_VDO=m
CONFIG_DRM_PANEL_DSI_PANEL_P15_BIAS=m
CONFIG_SND_SOC_DSPK_LOL_HP=y
CONFIG_SND_SOC_SIPA_81XX=m
CONFIG_SND_SOC_SIPA_TUNING=m
CONFIG_LCT_AUDIO_INFO=m
CONFIG_SND_SOC_FS1XXX=m
CONFIG_TOUCHSCREEN_NT36xxx_HOSTDL_SPI=m
CONFIG_TOUCHSCREEN_COMMON=m
CONFIG_TOUCHSCREEN_FTS=m
CONFIG_TOUCHSCREEN_OMNIVISION_TCM_SPI=m
CONFIG_SIMTRAY_STATUS=m
CONFIG_CHARGER_UPM6922=m
CONFIG_TCPC_UPM7610=m
CONFIG_LC_CHARGER_SYSFS=m
CONFIG_CHARGER_SC8960X=m
CONFIG_CHARGER_UPM6722=m
CONFIG_CHARGER_SC853X=m
CONFIG_CPUMAXFREQ_SUPPORT=m
CONFIG_BATTERY_SECRET_MANAGER=m
CONFIG_LC_BATTERY_SECRET=m
CONFIG_LC_LOGFS_CLASS=m
CONFIG_XM_SMART_CHG=m
CONFIG_MTK_LAST_KMSG=y
CONFIG_MIEV=m
CONFIG_MI_RMAP_EFFICIENCY=m
# NFC
#CONFIG_TMS_DEVICES=y
CONFIG_TMS_NFC_DEVICE=m
#CONFIG_TMS_ESE_DEVICE=m
#CONFIG_TMS_GUIDE_DEVICE=m
# MIUI ADD: Performance_BoostFramework start
CONFIG_PERFHELPER=m
# MIUI ADD: Performance_BoostFramework end
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_WIFI_ANT_CHECK_SUPPORT=m
CONFIG_BINDER_PRIO=m
CONFIG_MIUI_ZRAM_MEMORY_TRACKING=y
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_XLOGCHAR=m
